* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    max-width: 1510px;
}

.inner {
    padding-top: 36px;
    background-color: black;
}
.wrapper {
    width: 77%;
    margin: 0 auto;
}

.inner__header {
    display: flex;
    justify-content: space-between;
}


.inner__nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}

.inner__list {
    width: 134px;
}
.inner__link {
    text-decoration: none;
    text-align: center;
}