*{
    margin: 0;
    padding: 0;
}
body {
    max-width: 1510px;
}

/*into*/
.intro {
    position: relative;
    background: url(../img/banner/banner.png) center no-repeat;
    background-size: cover;
    height: 1026px;
    z-index: 1;
}
.intro::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: .5;
    z-index: 2;
}
 /*header*/
.header {
    position: fixed;
    /*padding: 0px 170px 0px 115px;*/
    width: 1510px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}
.header__logo {
    display: inline-flex;
    justify-content: flex-start;
    padding: 22px 0px;
    margin-left: 115px;
}

.header__menu {
    width: 570px;
    padding: 30px 0px;
    margin-right: 170px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__list {
    list-style-type: none;
}

.header__link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

/*banner*/
.banner {
    padding: 306px 170px 185px;
}

.banner__wrapper {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}
.banner__logo {
    margin-bottom: 73px;
}
.banner__logo__img {
    display: inline-block;
}

.banner__title {
    width: 670px;
}

.banner__title__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.banner__title::after {
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background-color: #fff;
    margin: 60px 0 40px;
}

.banner__subtitle {
    width: 270px;
    margin-bottom: 42px;
}

.banner__subtitle__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;  
}

.banner__btn {
    display: inline-block;
    margin: 0 auto;
    width: 270px;
    height: 58px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    transition: .3s;
}

.banner__btn:hover {
    border-color: #EC7979;
    color: #EC7979;
}
.banner__btn:active {
    background-color: #AB4949;
    border: none;
    color: #fff; 
}

.banner__form {
    width: 470px;
    height: 450px;
    background-color: #fff;
    /*padding: 35px 50px 0px;*/
    /*border: 0px solid transparent;*/
    border: none;
    border-radius: 10px;
}

.banner__form__title {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    text-transform: uppercase;
    margin: 35px auto 80px;
}

.banner__form__title--pink {
    margin: 0 8px;
    color: #EC7979;
}

.form__userinfo {
    margin: 0 50px;
}


.form__label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}



.form__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 33px;
}

.form__input:last-child {
    margin-bottom: 0;
}
.banner__form__btn {
    width: 470px;
    padding: 23px;
    margin: 65px auto 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #EC7979;
    /*border: 1px solid #EC7979;*/
    border: none;
    border-radius: 0px 0px 10px 10px;
}

.banner__form__btn:hover {
    background-color: #AB4949;
}
.banner__form__btn:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949
}


/*tabs*/
.tabs__wrapper {
    width: 1200px;
    margin: 100px auto 100px;
}

/*tabs__row*/
.tabs__row {
    display: flex;
    justify-content: flex-start;
}

.tab__item {
    width: 200px;
    height: 40px;
}

.tab__item--acive {
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
.tab__item__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    color: #333333;
}

/*tabs__content*/

.tabs__content {
    display: flex;
    border: 1px solid #C6CBCD;
}
.tabs__text {
    width: 700px;
    margin-left: 100px;
}
.tabs__title {
    width: 570px;
    padding: 50px 0px 35px;
}

.tabs__title--text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.tabs__subtitle {
    width: 570px;
}

.tabs__subtitle__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.tabs__subtitle__text--main {
    margin-bottom: 25px;
}

.tabs__btn {
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    border: none;
    margin-top: 27px;
    cursor: pointer;
    transition: .3s;
}

.tabs__btn:hover {
    background-color: #AB4949;
}
.tabs__btn:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949
}




/*awesome*/

.awesome__wrapper {
    width: 1200px;
    margin: 50px auto 58px;
    
}

/* wrapper__header */

.wrapper__header {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 70px;
}
.title {
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}
.title:after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 60px auto 45px;
}
.text {
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

/* row */
.awesome__row {
    display:flex;
    justify-content: center;
    margin-top: 70px;
}
.awesome__column {
    text-align: center;
    width: 370px;
}
.awesome__column:nth-child(2) {
    margin: 0 30px;
}

/* icon */
.item-awesome__icon {
    margin: 0 25%;
    padding: 39px 39px;
}

.border__icon {
    margin: 0 auto;
    border: 1px solid #EC7979;
    border-radius: 50px;width: 92px;
    height: 92px;
}
img {
    display: block;
    margin: auto;
}
.img__01 {
    width: 65.29px;
    height: 65.29px;
    margin: 13.35px auto;
}
.img__02 {
    width: 66px;
    height: 46px;
    margin: 23px auto;
}
.img__03 {
    width: 44px;
    height: 66px;
    margin: 13px auto;
}

/*title*/

.item-awesome__title {
    width: 370px;
}

h4 {
    margin: 40px auto 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

/*text*/

.item-awesome__text {
    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/*pricing*/

.pricing {
    background-color: #F5F5F5;
    padding: 100px 0px 50px;
}

.pricing__wrapper {
    width: 1200px;
    margin: 0 auto;
}

/*pricing__row*/

.pricing__row {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.pricing__column {
    list-style-type: none;
    width: 370px;
    text-align: center;
}

.pricing__column--active {
    transition:.3s;
}
.pricing__column--active:hover {
    position: relative;
    bottom: 20px;
    box-shadow: 0 4px 10px rgba(51, 51, 51, 0.2);
}
.pricing__item--name {
    padding: 15px 0px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.pricing__item--price {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    padding: 25px 0px;
    background: #333333;
    border: 2px solid #F5F5F5;
}

.pricing__item--text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 0px;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    border: 2px solid #F5F5F5;
}

.pricing__item {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    padding: 15px 0px;
    color: #86878B; 
    background-color: #fff;
    border: 2px solid #F5F5F5;
}

/*customers*/

.customers {
    padding: 100px 0px 62px;
}

.customers__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.customers__row {
    display: flex;
    justify-content: space-between;
}
.customers__column {
    width: 370px;
}

.customers__review {
    padding: 38px 0px;
    width: 100%;
    background-color: #E2E2E2;
    border-radius: 10px;
    position: relative;
}

.review__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
}

.review__text::after {
    
    content: "";
    position: absolute;
    left: 70px;
    bottom: -20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;

}

.customers__profile {
    margin-top: 66px;
    display: flex;
}
.customers__icon {
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    border-radius: 40px;
    overflow: hidden;
}

.customers__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.customers__discription {
    margin-left: 30px;
}
.customers__name {
    padding: 15px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.customers__position {
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}


/*section Design*/

.design {
    background: url(../img/design/image.png) center no-repeat;
    background-size: cover;
    padding: 100px 0px 50px;
    position: relative;
    z-index: 1;
}
.design:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    z-index: 2;
    opacity: .5;
}
.design__wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    z-index: 3;
}

.design__header {
    text-align: center;
    margin-bottom: 73px;
}
/*#design_header {
    color: #fff;
}

.wrapper__text--design {
    color: #fff;
}
.wrapper__title--design {
    color: #fff;
}*/

.design__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fff;
}
.design__title:after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #fff;
    margin: 60px auto 45px;
}
.design__subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.design__btn {
    display: block;
    margin: 0 auto;
    width: 370px;
    height: 58px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    border: 2px solid #fff;
    /*margin-top: 27px;*/
    cursor: pointer;
    transition: .3s;
}

.design__btn:hover {
    border-color: #EC7979;
    color: #EC7979;
}
.design__btn:active {
    background-color: #AB4949;
    border: none;
    color: #fff;
}

/*contact*/

.contact {
    padding: 100px 0px 60px;
}
.contact__wrapper {
    width: 1200px;
    margin: 0 auto;
}

/*.contact__form {
    display: flex;
    justify-content: space-between;
}*/
.contact__form__text {
    display: flex;
    justify-content: space-between;
}
.form__userinfo--contact {
    margin: 0;
    width: 570px;
}

.form__message {
    width: 570px;
}
.form__textarea {
    width: 570px;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.form__textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.contact__form__btn {
    display: block;
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    border: none;
    margin: 50px auto;
    cursor: pointer;
    transition: .3s;
}

.contact__form__btn:hover {
    background-color: #AB4949;
}
.contact__form__btn:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949
}